<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todo baisc but MVC</title>
</head>
<body>
  <h1>lets see what u have for the day</h1>
  <a href="/todos">click here to enter your todo app</a>
</body>
</html>